#page-footer{
	background-color: white;
	width:100%!important;
	padding-top: 40px !important;
	border-top: 1px solid #f9f3f3;
}



.logo-footer{
	margin:0;
	padding:0;
	list-style-type: none;
		

	li{
		float:left;
		font-size: 13px;
		font-weight: bold;
		letter-spacing: 0.4px;
		font-family: $font-proxima-nova;
		color: $cor-azul-gnn;

	}

	img{
		width:100px;
		margin-right: 20px;
	}

	.ltda{
		margin-top: 20px;
	}

}
.info-footer{
	
	border-right: 1px solid $cor-azul-gnn;
	height:190px;
	padding: 10px 0;

	.maps{

		overflow: hidden;
		width: 100%;
		height: 170px;

		.mapa{
		width: 100%;
		height: 170px;
		transition: all .2s ease-in-out;



			&:hover{
				transform: scale(1.7);
			}
		}

	}	

	


}

.info-contatos{

	font-family:$font-proxima-nova;
	color: $cor-azul-gnn;
	font-size:14px;
	height:170px;
	padding: 0 0;

	.endereco p, .contatos p{
		margin-bottom: -1px;
	}

	.contatos, .redes-sociais-footer{
		margin-top: 8px;
	}



}


.redes-sociais-footer{
	
	ul{
		
		padding: 0; 
		
		li{
			float: left;
			margin-right: 10px;
		}
	}


	.redes-sociais{

		.rs-fb{

			&:hover{
				background-image: url("../images/header_icon_fb_hover.png");
			}

		}
		.rs-li{
			&:hover{
				background-image: url("../images/header_icon_in_hover.png");	
			}
		}
		.rs-wh{
			&:hover{
				background-image: url("../images/header_icon_whats_hover.png");
			}
		}
	}
}



.info-footer{
	color: $cor-azul-gnn;
}


.footer-menu{
	color: $cor-azul-gnn;
	font-family:$font-proxima-nova;
	font-weight:bold;
	font-size:15px;
	padding-top:20px;

	li{
		margin-bottom: 5px;

		a{

			&:hover{
			color:$cor-verde-gnn !important;
		
		}
	}



}
	
}
