@media screen and (max-width: 400px) {
	/* #menu is the original menu */

	#page-logo{

		margin-top: 0;	
		img{
			width: 200px;	
			position: absolute;
			z-index: 10;
			top:14px;
		}
		
	}

	.menu-contatos{
		display: none;
	}

	#page-header{
		height: 60px;
	}

}