/* ==========================================================================
	header settings
/* ========================================================================== */

#page-header{
	height: 110px;
	background-color: white;
	padding-top: 15px;
/* 	position: fixed;
	z-index: 10;
	top:0px; */
}

#content-wrap{
	margin-top: 120px;
}


/* ==========================================================================
	top menu - redes sociais
/* ========================================================================== */

ul {
	list-style: none;
	list-style-image: none;
	padding: 0;
	margin: 0;

}

.menu-contatos{
	color:$cor-azul-gnn; 
	float:right;
	margin-bottom: 5px;

	
	.contatos {

		margin-right: 20px;

		.email,.telefone{
			font-size: 13px;
			font-weight: bold;
			letter-spacing: 0.4px;
			font-family: $font-proxima-nova;
		}

		.email{
			margin: 0 0 0;
		}

		.telefone{
			text-align: right;
		}

	}

	.redes-sociais{
		margin-left: 10px;

		.rs-fb{

			&:hover{
				background-image: url("../images/header_icon_fb_hover.png");
			}

		}
		.rs-li{
			&:hover{
				background-image: url("../images/header_icon_in_hover.png");	
			}
		}
		.rs-wh{
			&:hover{
				background-image: url("../images/header_icon_whats_hover.png");
			}
		}
	}
}

/* ==========================================================================
	Menu
/* ========================================================================== */

nav li{
	text-transform: uppercase;
	color:$cor-azul-gnn; 

	a{

		&:hover{
		color:$cor-verde-gnn !important;
		
		}
	}
}

.menu_wp{
	float:right;

	li a{
		margin-left: 15px;
		font-family: $font-proxima-nova;
		font-size: 15px;
	}
}

.current_page_item{

	a{
		color:$cor-verde-gnn !important;	
	}
	
	font-weight:bold;
}


/* ==========================================================================
	Logo
/* ========================================================================== */

#page-logo{
	margin-top:10px;

	img{
		width: 380px;
		padding-top: 9px;
	}	
}
