.superheader-giovanna-home{
	position: absolute;
	top: 90px;
	left:0;
	z-index: -1;
	width: 100%;
	height: 500px;
	-webkit-box-shadow: inset 0px -30px 71px -15px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px -30px 71px -15px rgba(0,0,0,0.5);
    box-shadow: inset 0px -30px 71px -15px rgba(0,0,0,0.5);
    display: block;
    background: transparent;

	img{
		width: 100%;
		height: 500px;
		overflow: hidden;
	}

	
}


.superheader-giovanna-empresa{
	position: absolute;
	top: 90px;
	left:0;
	z-index: -1;
	width: 100%;
	height: 350px;
	-webkit-box-shadow: inset 0px -30px 71px -15px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px -30px 71px -15px rgba(0,0,0,0.5);
    box-shadow: inset 0px -30px 71px -15px rgba(0,0,0,0.5);
    display: block;
    background: transparent;

	img{
		width: 100%;
		height: 350px;
		overflow: hidden;	
	}
	
}

.superheader-giovanna-servicos{
	position: absolute;
	top: 90px;
	left:0;
	z-index: -1;
	width: 100%;
	height: 350px;
	-webkit-box-shadow: inset 0px -30px 71px -15px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px -30px 71px -15px rgba(0,0,0,0.5);
    box-shadow: inset 0px -30px 71px -15px rgba(0,0,0,0.5);
    display: block;
    background: transparent;

	img{
		width: 100%;
		height: 350px;
		overflow: hidden;	
	}
	
}

.superheader-giovanna-orcamento{
	position: absolute;
	top: 90px;
	left:0;
	z-index: -1;
	width: 100%;
	height: 350px;
	-webkit-box-shadow: inset 0px -30px 71px -15px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px -30px 71px -15px rgba(0,0,0,0.5);
    box-shadow: inset 0px -30px 71px -15px rgba(0,0,0,0.5);
    display: block;
    background: transparent;

	img{
		width: 100%;
		height: 350px;
		overflow: hidden;	
	}
	
}

.superheader-giovanna-rotas{
	position: absolute;
	top: 90px;
	left:0;
	z-index: -1;
	width: 100%;
	height: 350px;
	-webkit-box-shadow: inset 0px -30px 71px -15px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px -30px 71px -15px rgba(0,0,0,0.5);
    box-shadow: inset 0px -30px 71px -15px rgba(0,0,0,0.5);
    display: block;
    background: transparent;

	img{
		width: 100%;
		height: 350px;
		overflow: hidden;	
	}
	
}




.superheader-box-home{

	font-family: $font-proxima-nova;
	font-weight:lighter;
	width:100%;
	height:435px;
	padding-top: 190px;
	color:white;
	text-align: center;
	font-size:38px;
	letter-spacing: 3px;

	p{
		text-shadow: 4px 4px 20px rgba(0, 0, 0, 1);
	}


/* 	.box{

		margin-bottom: 15px;

		span{
			padding: 0 10px;
			background-color: white;
		}

		.texto-light-azul{
			font-size: 35px;
			font-weight: lighter;
			color: $cor-azul-gnn;
		}

		.texto-bold-verde{
			font-size: 37px;
			font-weight: bold;
			color: $cor-verde-gnn;
		}


	}
 */
}



.superheader-box-empresa{

	
	font-family: $font-proxima-nova;
	font-weight:lighter;
	width:100%;
	height:300px;
	padding-top: 130px;
	color:white;
	text-align: center;
	font-size:35px;
	letter-spacing: 2px;

		p{
		text-shadow: 4px 4px 20px rgba(0, 0, 0, 1);
	}


}


.superheader-box-servicos{

	
	font-family: $font-proxima-nova;
	font-weight:lighter;
	width:100%;
	height:300px;
	padding-top: 130px;
	color:white;
	text-align: center;
	font-size:35px;
	letter-spacing: 2px;

		p{
		text-shadow: 4px 4px 20px rgba(0, 0, 0, 1);
		}


}

.superheader-box-rotas{

		font-family: $font-proxima-nova;
	font-weight:lighter;
	width:100%;
	height:300px;
	padding-top: 30px;
	color:white;
	text-align: center;
	font-size:35px;
	letter-spacing: 2px;

		p{
		text-shadow: 4px 4px 20px rgba(0, 0, 0, 1);
		}


}


@media screen and (max-width: 400px) {
	
	.box{
		.texto-light-azul{
			font-size: 30px!important;	
		}

		.texto-bold-verde{
			font-size: 33px!important;
		
		}
		
	}	

	.superheader-giovanna-home{
		height:100vh;
	}
	.superheader-box-home{
		height: 510px;
	}

}